---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// Used StackOverflow response: https://stackoverflow.com/a/36658757/18577080 as a base
// Adding 'Contents' headline to the TOC
#markdown-toc::before {
    content: "Table of content";
    font-weight: bold;
}


// Using numbers instead of bullets for listing
#markdown-toc ul {
    list-style: disc;
}

#markdown-toc {
    border: 1px solid #aaa;
    padding: 1.5em;
    list-style: decimal;
    display: inline-block;
}